.section {
    background-color: rgb(19, 19, 19);
    max-width: 1180px;
    margin: 100px auto 0 auto;
    padding: 0 10px;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.movie {
    padding: 20px;
}

.movie_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m_header {
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
}

.fa-imdb {
    color: orange;
    font-size: 15px;
}

.rating {
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
}

.fa-circle-play {
    font-size: 25px;
    color: rgb(255, 168, 0);
    padding-right: 10px;
}

.movie_img {
    max-width: 450px;
}

.flexed_movie {
    display: flex;
    padding: 20px 0;
}

.about_movie {
    display: flex;
    justify-content: space-between;
    line-height: 2;
}

.field {
    font-size: 15px;
    color: rgb(138, 132, 132);
    font-weight: bold;
    letter-spacing: 1px;
}

.value {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    padding: 0 0 0 30px;
    letter-spacing: 1px;
}

.movies_col {
    padding: 0 0 0 30px;
}

.description {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.48;
    letter-spacing: 1.5px;
    padding: 35px 0;
}

.sm_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

a i {
    color: white;
    overflow: hidden;
    font-size: 25px;
    padding: 0 4px;
    padding-top: 3px;
}

.fa-vk {
    color: rgb(0, 119, 255);
    transition: .5s;
}

.fa-vk:hover {
    color: black;
    transition: .5s;
}

.fa-square-odnoklassniki {
    fill: white;
    color: rgb(235, 114, 46);
    transition: .5s;

}

.fa-square-odnoklassniki:hover {
    color: black;
    transition: .5s;

}

.fa-square-twitter {
    color: rgb(0, 172, 237);
    transition: .5s;

}

.fa-square-twitter:hover {
    color: black;
    transition: .5s;

}

.fa-square-phone {
    color: rgb(123, 81, 157);
    transition: .5s;

}

.fa-square-phone:hover {
    color: black;
    transition: .5s;

}

.fa-telegram {
    color: rgb(100, 169, 220);
    transition: .5s;

}

.fa-telegram:hover {
    color: black;
    transition: .5s;
}

.after_desc {
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px 5px 10px;
}

.video_block {
    width: 1180px;
    margin: 0 auto;
}

.video {
    background-color: rgb(221, 207, 207);
    max-width: 1180px;
    margin: 0 auto;
}

.leave_impression {
    border: 2px solid blue;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

body {
    height: 1800px;
}

.fa-thumbs-down,
.fa-thumbs-up {
    font-size: 40px;
    color: blue;
    transition: .3s;
}

.fa-thumbs-down:hover,
.fa-thumbs-up:hover {
    color: orangered;
    cursor: pointer;
    transition: .3s;
}

.num {
    display: block;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

.about_n_review {
    background-color: rgb(221, 207, 207);
    max-width: 1180px;
    margin: 0 auto;
}

.details {
    padding: 20px;
}

.detail_desc_header {
    color: rgb(50, 50, 50);
    text-transform: uppercase;
    font-size: 31px;
    font-family: sans-serif;
    padding: 20px 0;
}

.detail_desc_text {
    line-height: 1.4;
    color: rgb(85, 84, 84);
    padding: 8px 0;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.feedback {
    background-color: rgb(216, 141, 2);
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 0 0 20px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.feedback:hover {
    background-color: orange;
}

#review_forms {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

#review_forms.open {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.name_n_email {
    font-weight: bold;
    width: 500px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    border: 2px solid rgb(190, 166, 166);
    margin: 0 8px;
}

.forms {
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.feedback_text {
    border: none;
    margin-top: 20px;
    margin-right: 10px;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    width: 960px;
    height: 80px;
    border: 2px solid rgb(190, 166, 166);
}

.send_fb {
    margin-left: 10px;
    margin-top: 20px;           
    height: 80px;
    border-radius: 10px;
    border: none;
    border: 2px solid ;
    font-weight: bold;  
    color: rgba(0, 0, 0, 0.541);
    padding: 0 10px;
    cursor: pointer;
    transition: 0.3s;
}

.send_fb:hover {
    color: white;
    background-color: gray;
    border-color: gray;
    transition: 0.3s;
}
