{% extends 'users/layout_users.html' %}

{% block ub_title %}
    <title>User Authentication</title>    
{% endblock %}

{% block users %}
<div class="users">
    <form class="form_2" method="post">
        <h1 class="head">Sign in</h1>
        {% csrf_token %}
        {{ form }}
        <button class="u_btn" type="submit">Confirm</button>
 
        <p class="">
         Don't have an account?
         <span>
             <a href="{% url 'users:sign_up' %}">Sign up here</a>
         </span>
      </p>
      
    </form>
</div>
{% endblock %}