{% extends 'users/layout_users.html' %}

{% block ub_title %}
    <title>User Authentication</title>    
{% endblock %}

{% block users %}
<div class="users">
    <form class="form_2" method="post">
        <h1 class="head">Sign in</h1>
        {% csrf_token %}
        
        
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        
        <div class="form-error">{{ form.non_field_errors }}</div>
        <button class="u_btn" type="submit">Login</button>
 
        <p class="content">
         Don't have an account?
         <span>
             <a href="{% url 'users:sign_up' %}">Sign up here</a>
         </span>
      </p>
      
    </form>
</div>
{% endblock %}