{% extends 'users/layout_users.html' %}
{% block ub_title %}
    <title>User Creation</title>
{% endblock %}

{% block users %}
<div class="users">
    <form class="form_1" method="post">
        <h1 class="head">Sign Up Form</h1>
        {% csrf_token %}
        
        
        {% for f in form %}
            
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>

        {% endfor %}


        <button type="submit" class="u_btn">Confirm</button>



        <p class="content">
            Already have an account?
            <span>
                <a href="{% url 'users:sign_in' %}">Sign in here</a>
            </span>
         </p>
         
    </form>
</div>
{% endblock %}
