@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../authors/authors_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100%;
    border-radius: 5px;
}

hr {
    border: none;
    color: rgba(0, 235, 243, 0.479);
    background-color: rgba(0, 235, 243, 0.479);
    height: 2px;
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-weight: 100;
}

.a_header {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #000;
    margin: 20px auto 0px auto;
    font-size: 50px;
    text-transform: uppercase;
    background: repeating-linear-gradient(white, white 2px, #7AB4E2 2px, #7AB4E2 3px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #183D58;
    display: table;

}

.container {
    max-width: 1180px;
    height: auto;
    margin: 0 auto;
    /* border-left: 3px solid black;
    border-right: 3px solid black; */
    font-family: consolas;
    text-align: center;
    padding: 0 10px 40px 10px;
}

.inst {
    display: inline-block;
    padding: 10px;
    margin: 40px 0;
    background-color: rgba(255, 170, 0, 0.459);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    animation: card_animate .3s infinite;
    transition: .3s;
}

.inst:hover {
}

.name_n_role {
    display: flex;
    justify-content: space-between;
}



.a_block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.a_img {
    width: 300px;
    height: 370px;
}

.author {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.452);
    color: rgb(255, 255, 255);
    font-weight: 200;
    margin: 40px 10px;
    margin-bottom: 20px;
    transition: .3s;
    
    animation: card_animate .3s infinite;
}

.author:hover {
    transform: rotate(360deg);
}

.value {
    font-family: 'Gugi', cursive;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.inst_value {
    font-family: 'Gugi', cursive;
    letter-spacing: 2px;
    color: rgb(229, 255, 0);
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(251, 255, 0);
    letter-spacing: 2px;
}

@media (max-width:340px) {
    .a_img {
        width: 200px;
        height: 270px;
    }
}

@media (max-width:240px) {
    .a_img {
        width: 100px;
        height: 170px;
    }
    
    .a_header {
        font-size: 16px;
    }

    .inst_name {
        font-size: 10px;
    }

    .role_inst {
        font-size: 10px;
    }

    .inst_value {
        font-size: 10px;
        letter-spacing: 0;
    }

    .value {
        font-size: 8px;
        letter-spacing: 0px;
    }

    .name {
        font-size: 10px;
    }

    .role {
        font-size: 10px;
    }
}

@media (max-width:140px) {
    html {
        width: 15vh;
    }
}



@keyframes card_animate {
    from {
        background-color: rgb(0, 0, 255);
    }

    to {
        background-color: rgb(255, 0, 0);
    }
}

.inst:hover {
    animation: none;
    cursor: pointer;
    transform: scale(1.15);
    transition: .3s;
}

.author:hover {
    animation: none;
    cursor: pointer;
    transform: scale(1.15);
    transition: .3s;
}


