.about_movies {
    background-color: rgb(19, 19, 19);
    max-width: 1180px;
    margin: 50px auto 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 10px;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.movie {
    padding: 20px;
}

.movie_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m_header {
    color: var(--color-detail-header);
    font-size: 25px;
    letter-spacing: 2px;
    padding-right: 15px;
}

.fa-imdb {
    color: rgb(255, 168, 0);
    font-size: 15px;
}

.rating {
    color: var(--color-detail-header);
    letter-spacing: 1px;
    font-weight: bold;
}

.fa-circle-play {
    font-size: 25px;
    color: rgb(255, 168, 0);
    padding-right: 10px;
}


.movie_img {
    margin: 0 auto;
    max-width: 450px;
    height: auto;
    padding: 0 20px;
    border-right: 1px solid rgb(255, 168, 0);
    border-left: 1px solid rgb(255, 168, 0);
}

img {
    width: 100%;
    height: auto;
}

.flexed_movie {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.about_movie {
    display: flex;
    justify-content: space-between;
    line-height: 2;
}

.field {
    font-size: 15px;
    color: var(--color-field);
    font-weight: bold;
    letter-spacing: 1px;
}

.value {
    font-size: 14px;
    color: var(--color-value);
    font-weight: 600;
    padding: 0 0 0 0px;
    letter-spacing: 1px;
}

a.value {
    text-decoration: underline;
}

a.value:hover {
    color: rgb(7, 153, 202);
}

.movies_col {
    padding-top: 20px;
}

.description {
    color: var(--color-detail-header);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.48;
    letter-spacing: 1.5px;
    padding: 15px 0;
}

.sm_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm {
    color: white;
    overflow: hidden;
    font-size: 25px;
    padding: 0 4px;
    padding-top: 3px;
}

.fa-vk {
    color: rgb(0, 119, 255);
    transition: .5s;
}

.fa-vk:hover {
    color: var(--color-m-header);
    transition: .5s;
}

.fa-square-odnoklassniki {
    fill: white;
    color: rgb(235, 114, 46);
    transition: .5s;

}

.fa-square-odnoklassniki:hover {
    color: var(--color-m-header);
    transition: .5s;

}

.fa-square-twitter {
    color: rgb(0, 172, 237);
    transition: .5s;

}

.fa-square-twitter:hover {
    color: var(--color-m-header);
    transition: .5s;

}

.fa-square-phone {
    color: rgb(123, 81, 157);
    transition: .5s;

}

.fa-square-phone:hover {
    color: var(--color-m-header);
    transition: .5s;

}

.fa-telegram {
    color: rgb(100, 169, 220);
    transition: .5s;

}

.fa-telegram:hover {
    color: var(--color-m-header);
    transition: .5s;
}

.after_desc {
    background-color: var(--color-after-desc);
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 12px 5px 10px;
    gap: 5px 20px;
}

video {
    width: 100%;
}

.video_block {
    max-width: 1180px;
}

.video {
    background: var(--color-bg-content);
    max-width: 1180px;
    margin: 0 auto;
}

.leave_impression {
    border: 2px solid var(--color-leave-impression);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.fa-thumbs-down,
.fa-thumbs-up {
    font-size: 40px;
    color: var(--color-leave-impression);
    transition: .3s;
}

.fa-thumbs-down:hover,
.fa-thumbs-up:hover {
    color: var(--color-leave-impression-hover);
    cursor: pointer;
    transition: .3s;
}

.num {
    display: block;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

.about_n_review {
    background: var(--color-bg-content);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 1180px;
    margin: 0 auto 30px 0;
}

.details {
    padding: 20px;
}

.detail_desc_header {
    color: var(--color-m-header);
    text-transform: uppercase;
    font-size: 31px;
    font-family: sans-serif;
    padding: 10px 0;
    line-height: 49px;
}

.detail_desc_text {
    line-height: 1.4;
    color: var(--color-about);
    padding: 8px 0;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.feedback {
    background: var(--color-bg-btn);
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 0 0 20px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.feedback:hover {
    background-color: var(--color-fb-hover);
}

#review_forms {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

#review_forms.open {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.name_n_email::placeholder, .feedback_text::placeholder {
    color: rgb(255, 165, 0);
    text-align: center;
}

.forms {
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    gap: 2px;
}

.name_n_email {
    font-weight: bold;
    width: 49.91%;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(255, 165, 0);
    text-align: center;
    letter-spacing: 1px;
    color: rgb(0, 195, 255);
    background: var(--color-input-bg);
    text-shadow: 0 0 0;
}

.feedback_text {
    border: none;
    font-weight: bold;
    width: 100%;
    padding: 15px 0;
    border-radius: 5px;
    border: 2px solid rgb(255, 165, 0);
    text-align: center;
    letter-spacing: 1px;
    color: rgb(0, 195, 255);
    background: var(--color-input-bg);
    text-shadow: 0 0 0;
}

.send_fb {
    border-radius: 5px;
    border: none;
    border: 2px solid rgb(255, 165, 0);
    font-weight: bold;  
    width: 100%;
    background-color: var(--color-input-bg);
    color: rgb(255, 165, 0);
    padding: 15px 15px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
    text-align: center;
}

.send_fb:hover {
    color: white;
    background-color: rgb(255, 165, 0);
    border-color: rgb(255, 165, 0);
    transition: 0.3s;
}

.reviews {
    display: flex;
    cursor: pointer;
}

.about_styles {
    padding: 0 5px;
    border: 2px dashed var(--color-m-header);
    color: var(--color-about-styles);
    text-transform: none;
}

@media (max-width:888px) {
    .after_desc {
        background-color: rgb(255, 255, 255);
        display: flex;
        border-radius: 5px;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 5px 12px 5px 10px;
    }    
}

@media (max-width:568px) {
    .description {
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 10px;
        line-height: 1.48;
        letter-spacing: 1.5px;
        padding: 15px 0;
    }

    .field {
        font-size: 11px;
        color: rgb(138, 132, 132);
        font-weight: bold;
        letter-spacing: 1px;
    }
    
    .value {
        font-size: 10px;
        color: #ffffff;
        font-weight: 600;
        padding: 0 0 0 0px;
        letter-spacing: 1px;
    }

    .movie {
        padding: 20px 10px 10px 10px;
    }
    
}

@media (max-width:423px) {
    .after_desc {

    }

    .sm {
        overflow: hidden;
        font-size: 18px;
        padding: 0 4px;
        padding-top: 3px;
    }
    
    .star {
        background-size: 10;
    }
}

@media (max-width:423px) {
    .after_desc {
        justify-content: center;
    }
}

hr {
    border: none;
    color: rgb(255, 168, 0);
    background-color: rgb(255, 168, 0);
    height: 1px;
    margin-top: 20px;
}

.reviews_block {
    padding: 8px 20px 20px 20px;
}

.re_header {
    font-size: 31px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.u_reviews {
    background-color: rgba(116, 97, 97, 0.178);
    margin: 10px 0 0 10px;
    padding: 10px;
}

.reviewer {
    color: var(--color-m-header);
    font-size: 16px;
}

.review {
    padding-top: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: bold;
    color: var(--color-about);
}

.rev_hr {
    color: rgb(51, 51, 51);
    background-color: rgb(51, 51, 50);
}

.dislike_block {
    background-color: inherit;
    border: none;
}

.like_block {
    background-color: inherit;
    border: none;
}


.si_content {
    padding: 20px;
}

.si_title {
    font-size: 31px;
    letter-spacing: 2px;
    color: var(--color-m-header);
    margin-bottom: 20px;
}

.si_blocks {
    display: flex;
    gap: 0 10px;
}

.si_block {
    position: relative;
    max-width: 400px;
    border-radius: 0.001px;
}

.re-fi_name {
    font-size: 12px;
    color: rgb(235, 235, 235);
    text-shadow: 0px 0px 5px black;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin: 5px 0 0 8px;
    background-color: transparent;
    position: absolute;
    cursor: pointer;

}

@media (max-width:395px) {
    .m_header {
        color: white;
        font-size: 16px;
        letter-spacing: 2px;
    }
    
    .rating {
        color: white;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 10px;
    }

    .fa-circle-play {
        font-size: 16px;
        color: rgb(255, 168, 0);
        padding-right: 5px;
    }

    .fa-imdb {
        font-size: 10px;
    }

    .movie_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .movies_col {
        padding-top: 10px;
    }

    .flexed_movie {
        padding: 20px 0 10px;
    }

    .dislike_block i {
        font-size: 24px;
    }
    .like_block i {
        font-size: 24px;
    }

    .detail_desc_header {
        color: var(--color-m-header);
        text-transform: uppercase;
        font-size: 16px;
        font-family: sans-serif;
        line-height: 22px;
        padding: 0 0;
    }

    .detail_desc_text {
        line-height: 1.4;
        color: var(--color-about);
        padding: 8px 0;
        font-weight: 600;
        letter-spacing: 1.5px;
        font-size: 12px;
    }

    .feedback {
        background-color: rgb(216, 141, 2);
        border: none;
        color: white;
        padding: 6px 9px;
        font-weight: bold;
        letter-spacing: 1.5px;
        cursor: pointer;
        margin: 0 0 10px 10px;
        font-size: 12px;
        border-radius: 5px;
    }

    .details {
        padding: 10px 10px 0 10px;
    }

    .about_styles {
        padding: 0 2px;
        border: 2px dashed var(--color-m-header);
        color: var(--color-about-styles);
    }

    .leave_impression {
        padding: 5px 10px;
    }

    .about_movies {
        padding: 0;
    }

    .movie_img {
        padding: 0 5px;
    }

    .flexed_movie {
        padding: 10px 0 10px;
    }
    
    .m_hr {
        display: none;
    }
    
    .re_header {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .reviewer {
        font-size: 14px;
    }

    .review {
        font-size: 12px;
    }

    .si_title {
        font-size: 16px;
    }
}

@media (max-width:1133px) {
    .forms {
        background-color: rgb(70, 70, 70);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        gap: 10px 1px;
    }
    
    .name_n_email {
        font-weight: bold;
        width: 100%;
        border: none;
        border-radius: 5px;
        border: 2px solid rgb(255, 165, 0);
    }
    
    .feedback_text {
        border: none;
        font-weight: bold;
        width: 100%;
        padding: 15px 0;
        border-radius: 5px;
        border: 2px solid rgb(255, 165, 0);
    }
    
    .send_fb {
        border-radius: 5px;
        border: none;
        border: 2px solid rgb(255, 165, 0);
        font-weight: bold;  
        color: rgb(255, 165, 0);
        padding: 15px 15px;
        cursor: pointer;
        transition: 0.3s;
        text-align: center;
    }
}

@media (max-width:500px) {
    .forms {
        background-color: rgb(70, 70, 70);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        gap: 10px 1px;
    }
    
    .si_block {
        border-radius: 0.001px;
    }
    
    .name_n_email {
        font-weight: bold;
        width: 100%;
        padding: 10px 0;
        border: none;
        border-radius: 5px;
        border: 2px solid rgb(255, 165, 0);
    }

    ::placeholder {
        font-size: 10px;
    }
    
    .feedback_text {
        border: none;
        font-weight: bold;
        width: 100%;
        padding: 10px 0;
        border-radius: 5px;
        border: 2px solid rgb(255, 165, 0);
    }
    
    .send_fb {
        border-radius: 5px;
        border: none;
        border: 2px solid rgb(255, 165, 0);
        font-weight: bold;  
        color: rgb(255, 165, 0);
        padding: 10px 10px;
        cursor: pointer;
        transition: 0.3s;
        text-align: center;
        font-size: 10px;
    }

    .re-fi_name {
        font-size: 8px;
    }
}

@media (max-width:284px) {

    .movie_head {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px 0;
    }

    .movie {
        padding: 10px 10px;
    }

    .sm {
        font-size: 14px;
        padding: 0 2px;
    }

    .si_block {
        border-radius: 0.001px;
    }
    
    .re-fi_name {
        margin: 2px 0 0 3px;
        font-size: 4px;
    }
}
